<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>sharath</title>
<link rel = "stylesheet" href="{% static 'mycss/mycss.css' %}">
</head>
<body style="background-image:url({% static 'images/pic.jpg' %}); background-repeat: no-repeat;"    >

<div class = "back" >
    <center><h1>HELLO! Welcome To Sharath World</h1>
<p>Here U Go..... With Ur Login id & password </p>
<form>
<label id="fname"> Username: </label>
<input type ="textbox" id="fname" ><br><br>
<label id="fpswrd"> Password: </label>
<input type ="password" id ="fpswrd" ><br><br>
<label id="Male">Male </label><input type ="radio" name="gender" id="sm" value="Male ">
<label id="Female">Female</label> <input type ="radio" name="gender" id = "sf" value="Female"><br><br>
<input type ="submit" id ="submit1"value = "submit">
</form>
</center>
</div>


</body>
</html>
