{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="background-image:url('{% static 'assets/img/work-2.jpg' %}');background-repeat:no-repeat;background-size: 100% 100%;height: 100vh;width:100%">
    <h1 style="margin:auto; width: 75%;padding: 100px; color:solid black;font-family:cursive;"> Hello !! Now Im working as a Full-stack developer in Ojas innovative tchnologies</h1>
        <ul style="font-size: 30px;font-family:cursive;">
    <li><b><p> I worked on Rolling dice project</p></b> </li>
    <li><b><p> I worked on employee management system project</p></b></li>
    </ul>
</div>
{% endblock %}
